.card  {
  flex-direction: column;
  height: 370px;
  width: 300px;
  transition: .3s;
  border: var(--main-dark-t) solid 1px;
}
.card:hover {
  border: var(--main-orange-600) solid 1px;
}

.controls:hover {
  cursor: pointer;
}
.controls:hover svg {
  stroke: var(--main-orange-600) !important;
}

.download:hover svg {
  stroke: var(--main-orange-600) !important;
}
.time {
  position: absolute;
  left: -25px;
  /* stroke: var(--main-orange) !important; */
}
.tags span {
  padding: .1rem .5rem .2rem .5rem;
}




