
.wave {
  min-height: 128px;
}
.card  {
  flex-direction: column;
  height: 370px;
  width: 300px;
  transition: .3s;
  /* border: var(--main-dark-t) solid 1px; */
}
/* .card:hover {
  border-color: var(--main-orange-600);
} */

.card__controls:hover {
  cursor: pointer;
}
.card__controls:hover svg {
  stroke: var(--main-orange-600) !important;
}

.card__download:hover svg {
  stroke: var(--main-orange-600) !important;
}
.card__time {
  position: absolute;
  left: -25px;
  /* stroke: var(--main-orange) !important; */
}
.card__tags button {
  margin: .2rem;
}
.card__tags span {
  padding: .1rem .5rem .1rem .5rem;
}




