.card  {
  flex-direction: column;
  height: 350px;
  width: 300px;
  transition: .3s;
}


.download:hover svg {
  stroke: var(--main-orange) !important;
}
.time {
  position: absolute;
  left: -25px;
  /* stroke: var(--main-orange) !important; */
}
.tags span {
  padding: .1rem .5rem .2rem .5rem;
}




